<div class="ecom-nav-bar__container">
    <div class="ecom-nav-bar__logo">
        Exclusive
    </div>
    <div class="ecom-nav-bar__list">
        <ul>
            <li>
                Home
            </li>
            <li>
                Contact
            </li>
            <li>
                About
            </li>
        </ul>
    </div>
    <div class="ecom-nav-bar__searchbar">
        <div class="ecom-nav-bar__searchbar--text">
            <!-- <input type="text" class="ecom-nav-bar__searchbar--textbox" />
            <nb-icon icon="search"></nb-icon> -->
            <nb-form-field class="custom-nb-form-field">
                <nb-icon nbPrefix icon="search" pack="eva" class="custom-icon"></nb-icon>
                <input type="text" nbInput class="custom-input">
              </nb-form-field>
      
        </div>
    </div>

    <div class="ecom-nav-bar__right">
      <a class="ecom-nav-bar__right--favorites" routerLink="/favorites"> <nb-icon icon="fill-favroite" pack="ecom-header"></nb-icon></a> 
      <a routerLink="/cart"> <nb-icon icon="cart" pack="ecom-header"></nb-icon></a> 
      <a class="ecom-nav-bar__right--profile" routerLink="/profile"> <nb-icon icon="user" pack="ecom-header"></nb-icon></a> 
    </div>
</div>
