@import '../../../theme.scss';
.product-card{
   
   &__container{
    display: flex;
    //flex-wrap: wrap; /* Allows wrapping to the next line if needed */
    gap: 10px;
   }
    &__content{
        border: none;
        min-width: 270px;
        max-width: 270px;

        &--body{
            background-color: nb-theme(color-basic-200);
            max-height: 250px;
        }
        &--footer{
            border-top: none;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    &__price{
        display: flex;
        
        &--discount{
            margin-right: 5px;
            color: nb-theme(color-primary-500);
            font-weight: 500;
            font-size: 16px;
        }
        &--orginal{
            margin-right: 5px;
            color: nb-theme(color-basic-500);
            font-weight: 500;
            font-size: 16px;
            text-decoration: line-through;
        }
    }
}

