<div class="product-card__container" >
        <nb-card size="small" class="product-card__content" *ngFor="let card of cards">
            <nb-card-body class="product-card__content--body">
               
            </nb-card-body>
            <nb-card-footer class="product-card__content--footer">
                <div class="product-card__title">
                    Name
                </div>
                <div class="product-card__price">
                    <div class="product-card__price--discount">
                        $160
                    </div>
                    <div class="product-card__price--orginal">
                        $200
                    </div>
                </div>
                <div class="product-card__rating">
                    <nb-icon icon="fill-star" pack="ecom-header"></nb-icon>
                    <nb-icon icon="fill-star" pack="ecom-header"></nb-icon>
                    <nb-icon icon="fill-star" pack="ecom-header"></nb-icon>
                    <nb-icon icon="fill-star" pack="ecom-header"></nb-icon>
                    <nb-icon icon="outline-star" pack="ecom-header"></nb-icon>
                    (90)
                </div>
            </nb-card-footer>
        </nb-card>
  
</div>
