@use '@nebular/theme/styles/theming' as *;

:host ::ng-deep   .top-header {
   
        nav {
            height: 0.313rem;
            display: flex;
            justify-content: center;
            background-color: nb-theme(color-basic-800);
            color: nb-theme(color-base-white);
          }
    
    
}

:host ::ng-deep  nb-layout {
    .layout {
        .layout-container {
            margin-top: -35px;
        }
    }
}

.ecom-nav-bar{
    width: 100%;
}