<div class="cart__container">
    <div class="cart__list">
        <nb-card>
            <nb-card-body>
                <nb-checkbox>All</nb-checkbox>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
            <div class="cart__items">
                <nb-checkbox></nb-checkbox>
                <div class="cart__itemname">
                    Green Leaf-131 Wireless Bluetooth Earbuds | 27 Hours | HD Voice | Stereo Sound | 12mm Drive | Big
                </div>
                <div class="cart__price">
                    <div class="cart__price--final">
                        Rs. 1,299
                    </div>
                    <div class="cart__price--discount">
                        Rs. 1,999
                    </div>
                    <div class="cart__price-descper">
                        -35%
                    </div>
                </div>

                <div class="cart__qty">
                    <div class="cart__qty--descrese">

                    </div>
                   <div class="cart__qty--input">
                    <input nbInput />
                   </div>
                   <div class="cart__qty--increase">

                   </div>
                </div>
            </div>
               
                
            </nb-card-body>
        </nb-card>
    </div>

    <div class="cart__checkout">
        <nb-card>
            <nb-card-body>
                sadasdasd
            </nb-card-body>
        </nb-card>
    </div>
</div>




