<div class="home__container">
    <div class="home__banner">
        <ecom-side-category></ecom-side-category>
        <div class="home__banner--slider">
            <ecom-image-slider></ecom-image-slider>
        </div>
    </div>

    <div class="home__product-content">
        <ecom-product-content name="Today's" subname="Flash Sales" showArrow="yes" (isArrow)="isArrow($event)" (arrowClicked)="onClickArrow($event)">
            <ecom-product-card [hasArrow]="hasArrow" [arrowSide]="arrowSide"></ecom-product-card>
        </ecom-product-content>
    </div>

</div>

